body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    padding: 20px;
    margin: 0px;

}

.top{
    display: flex;
    justify-content: end;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img{
    height: 50px;
}

.name{
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #0C96E3;
    padding: 100px;
    border-radius: 70px;
    margin: 40px;
    width: 250px;
    height: 250px;
    box-shadow: -10px 30px 50px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    align-items: center;
    transform: scale(1);
    text-decoration: none;
}

.card h1 {
    color: white;
    text-decoration: none;
}
  
.card p {
    text-align: center;
    color: white;
    opacity: 0;
    transition: all 0.5s ease;
    text-decoration: none;
}

.card span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}
  
.card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: -1px 3px 15px rgba(0, 0, 0, 0.1);
}
  
.card:hover p {
    opacity: 1;
    transition-delay: 0.3s;
}

.add{
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: blueviolet;
    border-radius: 50px;
}

.add span{
    color: white;
    font-size: 50px;
}